{%load static%}
{% load widget_tweaks %}
{% include "navbar.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wrong credentials</title>
    <link rel="stylesheet" href="{%static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>wrong credentials</h1>
    </header>
    <main>
        <section>
            <h2>Oops! you may have wrote your credentials wrong</h2>
            <p>If you believe this is a mistake, please contact the system administrator for assistance.</p>
            <a href="{% url 'home' %}">Return to Home</a>
        </section>
    </main>
    
</body>
</html>
